@import 'variables';
@import 'mixins';
header {
  background: #ffffffab;
  box-shadow: 0px 4px 24px 0px #0000001f;
  .container {
    position: relative;
    height: 172px;
    display: flex;
    align-items: center;
    justify-content: center;
    @media screen and (max-width: 899px) {
      height: 260px;
      align-items: end;
      padding: 16px;
    }
    .content {
      display: flex;
      flex-direction: column;
      .header__title {
        display: flex;
        align-items: center;
        gap: 16px;
        @include minimum {
          flex-direction: column;
        }
        h1 {
          font-family: Montserrat;
          font-size: 24px;
          font-weight: 500;
          line-height: 29.26px;
          letter-spacing: -0.01em;
        }
        span {
          display: block;
          font-size: 13px;
          padding: 6px 12px;
          color: $color-blue;
          border: 1px solid $color-blue;
          border-radius: 2px;
        }
      }
      .header__folowers-info {
        margin-top: 16px;
        margin-bottom: 19px;
        display: flex;
        gap: 28px;
        font-size: 14px;
        span {
          font-weight: 700;
        }
      }
      .header__date-block {
        font-weight: 400;
        display: flex;
        align-items: center;
        gap: 11px;
        .inputs {
          display: flex;
          align-items: center;
          gap: 22px;
          .date-picker-container {
            position: relative;
            color: #5f5f5f;
            button {
              color: #5f5f5f;
            }
            svg {
              fill: $color-blue;
            }
            input {
              width: 162px;
              height: 28px;
              border: 1px solid #dedede;
              border-radius: 4px;
              padding: 6px;
            }
            button {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 24px;
              height: 28px;
              position: absolute;
              right: 24px;
              top: 0px;
              background-color: #e6e6e6;
              border: 1px solid #dedede;
              // border-right: 1px solid #dedede;
              &.calendar {
                right: 0;
                border-radius: 0 3px 3px 0;
                border-right: 1px solid #dedede;
                border-top: 1px solid #dedede;
                border-bottom: 1px solid #dedede;
              }
            }
          }
        }

        @include minimum {
          flex-direction: column;
          align-items: start;
        }
      }
    }
  }
  .logo {
    position: absolute;
    top: 6px;
    left: 10%;
    display: block;
    margin-top: 6px;
    width: 138px;
    height: 138px;
    img {
      object-fit: contain;
    }
    //  @media screen and (max-width: 899px) {
    @include mobile {
      top: 0;
      width: 100px;
      height: 100px;
      img {
        width: 100px;
        height: 100px;
      }
    }
    @include minimum {
      left: 6px;
      width: 70px;
      height: 70px;
      img {
        width: 70px;
        height: 70px;
      }
    }
  }
}
