header {
  background: rgba(255, 255, 255, 0.6705882353);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1215686275);
}
header .container {
  position: relative;
  height: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 899px) {
  header .container {
    height: 260px;
    align-items: end;
    padding: 16px;
  }
}
header .container .content {
  display: flex;
  flex-direction: column;
}
header .container .content .header__title {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media only screen and (max-width: 499px) {
  header .container .content .header__title {
    flex-direction: column;
  }
}
header .container .content .header__title h1 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  letter-spacing: -0.01em;
}
header .container .content .header__title span {
  display: block;
  font-size: 13px;
  padding: 6px 12px;
  color: #3D8EDA;
  border: 1px solid #3D8EDA;
  border-radius: 2px;
}
header .container .content .header__folowers-info {
  margin-top: 16px;
  margin-bottom: 19px;
  display: flex;
  gap: 28px;
  font-size: 14px;
}
header .container .content .header__folowers-info span {
  font-weight: 700;
}
header .container .content .header__date-block {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 11px;
}
header .container .content .header__date-block .inputs {
  display: flex;
  align-items: center;
  gap: 22px;
}
header .container .content .header__date-block .inputs .date-picker-container {
  position: relative;
  color: #5f5f5f;
}
header .container .content .header__date-block .inputs .date-picker-container button {
  color: #5f5f5f;
}
header .container .content .header__date-block .inputs .date-picker-container svg {
  fill: #3D8EDA;
}
header .container .content .header__date-block .inputs .date-picker-container input {
  width: 162px;
  height: 28px;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 6px;
}
header .container .content .header__date-block .inputs .date-picker-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 28px;
  position: absolute;
  right: 24px;
  top: 0px;
  background-color: #e6e6e6;
  border: 1px solid #dedede;
}
header .container .content .header__date-block .inputs .date-picker-container button.calendar {
  right: 0;
  border-radius: 0 3px 3px 0;
  border-right: 1px solid #dedede;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
@media only screen and (max-width: 499px) {
  header .container .content .header__date-block {
    flex-direction: column;
    align-items: start;
  }
}
header .logo {
  position: absolute;
  top: 6px;
  left: 10%;
  display: block;
  margin-top: 6px;
  width: 138px;
  height: 138px;
}
header .logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 767px) {
  header .logo {
    top: 0;
    width: 100px;
    height: 100px;
  }
  header .logo img {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 499px) {
  header .logo {
    left: 6px;
    width: 70px;
    height: 70px;
  }
  header .logo img {
    width: 70px;
    height: 70px;
  }
}/*# sourceMappingURL=header.css.map */