@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  line-height: 1;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

nav,
footer,
header,
aside {
  display: block;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-style: inherit;
  font-weight: 400;
}

header {
  background: rgba(255, 255, 255, 0.6705882353);
  box-shadow: 0px 4px 24px 0px rgba(0, 0, 0, 0.1215686275);
}
header .container {
  position: relative;
  height: 172px;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 899px) {
  header .container {
    height: 260px;
    align-items: end;
    padding: 16px;
  }
}
header .container .content {
  display: flex;
  flex-direction: column;
}
header .container .content .header__title {
  display: flex;
  align-items: center;
  gap: 16px;
}
@media only screen and (max-width: 499px) {
  header .container .content .header__title {
    flex-direction: column;
  }
}
header .container .content .header__title h1 {
  font-family: Montserrat;
  font-size: 24px;
  font-weight: 500;
  line-height: 29.26px;
  letter-spacing: -0.01em;
}
header .container .content .header__title span {
  display: block;
  font-size: 13px;
  padding: 6px 12px;
  color: #3D8EDA;
  border: 1px solid #3D8EDA;
  border-radius: 2px;
}
header .container .content .header__folowers-info {
  margin-top: 16px;
  margin-bottom: 19px;
  display: flex;
  gap: 28px;
  font-size: 14px;
}
header .container .content .header__folowers-info span {
  font-weight: 700;
}
header .container .content .header__date-block {
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 11px;
}
header .container .content .header__date-block .inputs {
  display: flex;
  align-items: center;
  gap: 22px;
}
header .container .content .header__date-block .inputs .date-picker-container {
  position: relative;
  color: #5f5f5f;
}
header .container .content .header__date-block .inputs .date-picker-container button {
  color: #5f5f5f;
}
header .container .content .header__date-block .inputs .date-picker-container svg {
  fill: #3D8EDA;
}
header .container .content .header__date-block .inputs .date-picker-container input {
  width: 162px;
  height: 28px;
  border: 1px solid #dedede;
  border-radius: 4px;
  padding: 6px;
}
header .container .content .header__date-block .inputs .date-picker-container button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 28px;
  position: absolute;
  right: 24px;
  top: 0px;
  background-color: #e6e6e6;
  border: 1px solid #dedede;
}
header .container .content .header__date-block .inputs .date-picker-container button.calendar {
  right: 0;
  border-radius: 0 3px 3px 0;
  border-right: 1px solid #dedede;
  border-top: 1px solid #dedede;
  border-bottom: 1px solid #dedede;
}
@media only screen and (max-width: 499px) {
  header .container .content .header__date-block {
    flex-direction: column;
    align-items: start;
  }
}
header .logo {
  position: absolute;
  top: 6px;
  left: 10%;
  display: block;
  margin-top: 6px;
  width: 138px;
  height: 138px;
}
header .logo img {
  -o-object-fit: contain;
     object-fit: contain;
}
@media only screen and (max-width: 767px) {
  header .logo {
    top: 0;
    width: 100px;
    height: 100px;
  }
  header .logo img {
    width: 100px;
    height: 100px;
  }
}
@media only screen and (max-width: 499px) {
  header .logo {
    left: 0;
    width: 70px;
    height: 70px;
  }
  header .logo img {
    width: 70px;
    height: 0px;
  }
}

main .main__list-container {
  padding: 18px 64px 61px;
}
@media only screen and (max-width: 1023px) {
  main .main__list-container {
    padding: 18px 32px 61px;
  }
}
@media only screen and (max-width: 767px) {
  main .main__list-container {
    padding: 18px 16px 61px;
  }
}
main .main__list-container .main__list-container_buttons {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  gap: 21px;
}
main .main__list-container .main__list-container_buttons button {
  display: block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  color: #c8c7c7;
}
main .main__list-container .main__list-container_buttons button.active {
  color: #3D8EDA;
}
main .main__list-container .main__list-container_buttons button.active svg {
  fill: #3D8EDA;
}
main .main__list-container .main__list-container_buttons button svg {
  width: 22px;
  height: 22px;
  fill: #c8c7c7;
}
main .main__list-container .main__list-container_list {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}
main .main__list-container .main__list-container_list .main__list-item {
  background-color: #FFFFFF;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media only screen and (max-width: 767px) {
  main .main__list-container .main__list-container_list .main__list-item {
    gap: 16px;
  }
}
@media only screen and (max-width: 499px) {
  main .main__list-container .main__list-container_list .main__list-item {
    height: 100px;
  }
}
main .main__list-container .main__list-container_list .main__list-item .image-container {
  display: block;
  min-width: 86px;
  width: 86px;
  height: 100%;
  min-height: 86px;
  overflow: hidden;
}
@media only screen and (max-width: 499px) {
  main .main__list-container .main__list-container_list .main__list-item .image-container {
    min-height: 100px;
  }
}
main .main__list-container .main__list-container_list .main__list-item .image-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .main__list-container .main__list-container_list .main__list-item .info-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
}
main .main__list-container .main__list-container_list .main__list-item .info-container .title {
  display: block;
  margin-bottom: 7px;
  font-weight: 500;
}
main .main__list-container .main__list-container_list .main__list-item .info-container .actions {
  display: flex;
  gap: 19px;
}
@media only screen and (max-width: 499px) {
  main .main__list-container .main__list-container_list .main__list-item .info-container .actions {
    flex-direction: column;
    gap: 8px;
  }
}
main .main__list-container .main__list-container_list .main__list-item .info-container .actions p {
  display: flex;
  gap: 6px;
  font-size: 14px;
}
main .main__list-container .main__list-container_list.blocks {
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 899px) {
  main .main__list-container .main__list-container_list.blocks {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 649px) {
  main .main__list-container .main__list-container_list.blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 449px) {
  main .main__list-container .main__list-container_list.blocks {
    grid-template-columns: 1fr;
  }
}
main .main__list-container .main__list-container_list.blocks .main__list-item {
  width: 100%;
  height: 341px;
  flex-direction: column;
  gap: 0;
}
@media screen and (max-width: 449px) {
  main .main__list-container .main__list-container_list.blocks .main__list-item {
    height: auto;
  }
}
main .main__list-container .main__list-container_list.blocks .main__list-item .image-container {
  width: 100%;
  height: 203px;
}
@media screen and (max-width: 449px) {
  main .main__list-container .main__list-container_list.blocks .main__list-item .image-container {
    height: 250px;
  }
}
main .main__list-container .main__list-container_list.blocks .main__list-item .info-container {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  padding: 12px 12px 18px;
}
main .main__list-container .main__list-container_list.blocks .main__list-item .info-container .upload {
  font-size: 14px;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 449px) {
  main .main__list-container .main__list-container_list.blocks .main__list-item .info-container .upload {
    margin-top: 6px;
  }
}
main .main__list-container .main__list-container_list.blocks .main__list-item .info-container .upload .title {
  margin-bottom: 0;
}
main .main__list-container .main__list-container_list.blocks .main__list-item .info-container .actions {
  flex-direction: column;
  gap: 6px;
}
main .main__list-container_load-more {
  width: 111px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #929292;
  border: 1px solid #929292;
  border-radius: 14px;
  margin: 33px auto 0;
  text-transform: uppercase;
}
main .main__list-container_load-more.none {
  display: none;
}

body {
  background-image: url("../assets/bg1.png"), url("../assets/bg2.png");
  background-position: left top, right 0px top 786px;
  background-size: 40% auto, 214px 367px;
  background-repeat: no-repeat, no-repeat;
  background-color: #FAFAFA;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 964px;
  min-width: 360px;
  padding: 0 64px;
}
@media only screen and (max-width: 1023px) {
  .container {
    padding: 0 32px;
  }
}
@media only screen and (max-width: 767px) {
  .container {
    padding: 0 16px;
  }
}/*# sourceMappingURL=index.css.map */