@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;1,500&family=Roboto:wght@400;500;700&display=swap');
@import 'normalize';
@import 'variables';
@import 'mixins';
@import 'header';
@import 'main';

body {
  background-image: url('../assets/bg1.png'), url('../assets/bg2.png');
  background-position: left top, right 0px top 786px;
  background-size: 40% auto, 214px 367px;
  background-repeat: no-repeat, no-repeat;
  background-color: #FAFAFA;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  font-weight: 500;
  font-style: normal;
}
//background: #FAFAFA;

.container {
  margin: 0 auto;
  width: 100%;
  max-width: 964px;
  min-width: 360px;
  padding: 0 64px;
//  overflow-x:  hidden;
 // overflow-y: auto;
  @include tablet {
    padding: 0 32px;
  }
  @include mobile {
    padding: 0 16px;
  }
}

