main .main__list-container {
  padding: 18px 64px 61px;
}
@media only screen and (max-width: 1023px) {
  main .main__list-container {
    padding: 18px 32px 61px;
  }
}
@media only screen and (max-width: 767px) {
  main .main__list-container {
    padding: 18px 16px 61px;
  }
}
main .main__list-container .main__list-container_buttons {
  width: -moz-fit-content;
  width: fit-content;
  margin-left: auto;
  margin-bottom: 23px;
  display: flex;
  align-items: center;
  gap: 21px;
}
main .main__list-container .main__list-container_buttons button {
  display: block;
  width: 24px;
  height: 24px;
  background-color: transparent;
  color: #c8c7c7;
}
main .main__list-container .main__list-container_buttons button.active {
  color: #3D8EDA;
}
main .main__list-container .main__list-container_buttons button.active svg {
  fill: #3D8EDA;
}
main .main__list-container .main__list-container_buttons button svg {
  width: 22px;
  height: 22px;
  fill: #c8c7c7;
}
main .main__list-container .main__list-container_list {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
  gap: 8px;
}
main .main__list-container .main__list-container_list .main__list-item {
  background-color: #FFFFFF;
  height: 86px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 30px;
}
@media only screen and (max-width: 767px) {
  main .main__list-container .main__list-container_list .main__list-item {
    gap: 16px;
  }
}
@media only screen and (max-width: 499px) {
  main .main__list-container .main__list-container_list .main__list-item {
    height: 100px;
  }
}
main .main__list-container .main__list-container_list .main__list-item .image-container {
  display: block;
  min-width: 86px;
  width: 86px;
  height: 100%;
  min-height: 86px;
  overflow: hidden;
}
@media only screen and (max-width: 499px) {
  main .main__list-container .main__list-container_list .main__list-item .image-container {
    min-height: 100px;
  }
}
main .main__list-container .main__list-container_list .main__list-item .image-container img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}
main .main__list-container .main__list-container_list .main__list-item .info-container {
  flex: 1;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
  align-items: center;
  justify-content: center;
}
main .main__list-container .main__list-container_list .main__list-item .info-container .title {
  display: block;
  margin-bottom: 7px;
  font-weight: 500;
}
main .main__list-container .main__list-container_list .main__list-item .info-container .actions {
  display: flex;
  gap: 19px;
}
@media only screen and (max-width: 499px) {
  main .main__list-container .main__list-container_list .main__list-item .info-container .actions {
    flex-direction: column;
    gap: 8px;
  }
}
main .main__list-container .main__list-container_list .main__list-item .info-container .actions p {
  display: flex;
  gap: 6px;
  font-size: 14px;
}
main .main__list-container .main__list-container_list.blocks {
  grid-template-columns: repeat(4, 1fr);
}
@media screen and (max-width: 899px) {
  main .main__list-container .main__list-container_list.blocks {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 649px) {
  main .main__list-container .main__list-container_list.blocks {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media screen and (max-width: 449px) {
  main .main__list-container .main__list-container_list.blocks {
    grid-template-columns: 1fr;
  }
}
main .main__list-container .main__list-container_list.blocks .main__list-item {
  width: 100%;
  height: 341px;
  flex-direction: column;
  gap: 0;
}
@media screen and (max-width: 449px) {
  main .main__list-container .main__list-container_list.blocks .main__list-item {
    height: auto;
  }
}
main .main__list-container .main__list-container_list.blocks .main__list-item .image-container {
  width: 100%;
  height: 203px;
}
@media screen and (max-width: 449px) {
  main .main__list-container .main__list-container_list.blocks .main__list-item .image-container {
    height: 250px;
  }
}
main .main__list-container .main__list-container_list.blocks .main__list-item .info-container {
  width: 100%;
  grid-template-columns: repeat(2, 1fr);
  padding: 12px 12px 18px;
  gap: 0px;
}
main .main__list-container .main__list-container_list.blocks .main__list-item .info-container .upload {
  font-size: 14px;
  grid-column: span 2;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 449px) {
  main .main__list-container .main__list-container_list.blocks .main__list-item .info-container .upload {
    margin-top: 12px;
  }
}
main .main__list-container .main__list-container_list.blocks .main__list-item .info-container .upload .title {
  margin-bottom: 0;
}
main .main__list-container .main__list-container_list.blocks .main__list-item .info-container .actions {
  flex-direction: column;
  gap: 6px;
}
main .main__list-container_load-more {
  width: 111px;
  height: 28px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #929292;
  border: 1px solid #929292;
  border-radius: 14px;
  margin: 33px auto 0;
  text-transform: uppercase;
}
main .main__list-container_load-more.none {
  display: none;
}/*# sourceMappingURL=main.css.map */