@import 'variables';
@import 'mixins';
main {
  .main__list-container {
    padding: 18px 64px 61px;
    @include tablet {
      padding: 18px 32px 61px;
    }
    @include mobile {
      padding: 18px 16px 61px;
    }
    .main__list-container_buttons {
      width: fit-content;
      margin-left: auto;
      margin-bottom: 23px;
      display: flex;
      align-items: center;
      gap: 21px;
      button {
        display: block;
        width: 24px;
        height: 24px;
        background-color: transparent;
        color: $color-light-gray;
        &.active {
          color: $color-blue;
          svg {
            fill: $color-blue;
          }
        }
        svg {
          width: 22px;
          height: 22px;
          fill: $color-light-gray;
        }
      }
    }
    .main__list-container_list {
      width: 100%;
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr;
      gap: 8px;
      .main__list-item {
        background-color: $color-white;
        height: 86px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 30px;
        @include mobile {
          gap: 16px;
        }
        @include minimum {
          height: 100px;
        }
        .image-container {
          display: block;
          min-width: 86px;
          width: 86px;
          height: 100%;
          min-height: 86px;
          overflow: hidden;
          @include minimum {
            min-height: 100px;
          }
          img {
            width: 100%;
            object-fit: cover;
            object-position: center;
          }
        }
        .info-container {
          flex: 1;
          display: grid;
          grid-template-columns: repeat(3, 1fr);
          gap: 12px;
          align-items: center;
          justify-content: center;
          .title {
            display: block;
            margin-bottom: 7px;
            font-weight: 500;
          }
          .actions {
            display: flex;
            gap: 19px;
            @include minimum {
              flex-direction: column;
              gap: 8px;
            }
            p {
              display: flex;
              gap: 6px;
              font-size: 14px;
            }
          }
        }
      }
      &.blocks {
        grid-template-columns: repeat(4, 1fr);
        @media screen and (max-width: 899px) {
          grid-template-columns: repeat(3, 1fr);
        }
        @media screen and (max-width: 649px) {
          grid-template-columns: repeat(2, 1fr);
        }
        @media screen and (max-width: 449px) {
          grid-template-columns: 1fr;
        }
        .main__list-item {
          width: 100%;
          height: 341px;
          flex-direction: column;
          gap: 0;
          @media screen and (max-width: 449px) {
            height: auto;
          }
          .image-container {
            width: 100%;
            height: 203px;
            @media screen and (max-width: 449px) {
              height: 250px;
            }
          }
          .info-container {
            width: 100%;
            grid-template-columns: repeat(2, 1fr);
            padding: 12px 12px 18px;
            gap: 0px;
            .upload {
              font-size: 14px;
              grid-column: span 2;
              display: flex;
              align-items: center;
              justify-content: space-between;
              @media screen and (max-width: 449px) {
                margin-top: 12px;
              }
              .title {
                margin-bottom: 0;
              }
            }

            .actions {
              flex-direction: column;
              gap: 6px;
            }
          }
        }
      }
    }
  }
  //кнопка load more
  .main__list-container_load-more {
    width: 111px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $color-gray;
    border: 1px solid $color-gray;
    border-radius: 14px;
    margin: 33px auto 0;
    text-transform: uppercase;
    &.none {
      display: none;
    }
  }
}
