@mixin minimum {
  @media only screen and (max-width: 499px) {
    @content;
  }
}
@mixin mobile {
  @media only screen and (max-width: 767px) {
    @content;
  }
}
@mixin tablet {
  @media only screen and (max-width: 1023px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1279px) {
    @content;
  }
}
@mixin desktop {
  @media screen and (max-width: 1919px) {
    @content;
  }
}
